<app-header></app-header>

<div class="region-detalle-container">
  <div class="region-header">
    <h1>{{ region()?.nombre }}</h1>
    <img [src]="region()?.imagen" alt="Imagen de la región" class="region-portada" />
  </div>

  <h3 class="descripcion">{{ region()?.descripcion }}</h3>

  <section class="section-box" *ngIf="region()?.acerca_de">
    <h2>Acerca de esta Región</h2>
    <p>{{ region()?.acerca_de }}</p>
  </section>

  <section class="section-box" *ngIf="region()?.galeria?.length">
    <h2>Galería de Fotos</h2>
    <div class="galeria-grid">
      <img *ngFor="let foto of region()?.galeria" [src]="foto.imagen" alt="foto región" />
    </div>
  </section>

  <section class="section-box" *ngIf="region()?.lugares_turisticos">
    <h2>Lugares Turísticos</h2>
    <ul>
      <li *ngFor="let lugar of region()?.lugares_turisticos.split(',')">{{ lugar.trim() }}</li>
    </ul>
  </section>

  <section class="section-box" *ngIf="region()?.tradiciones">
    <h2>Tradiciones</h2>
    <ul>
      <li *ngFor="let tradicion of region()?.tradiciones.split(',')">{{ tradicion.trim() }}</li>
    </ul>
  </section>

  <section class="section-box" *ngIf="region()?.comidas_tipicas">
    <h2>Comidas Típicas</h2>
    <ul>
      <li *ngFor="let comida of region()?.comidas_tipicas.split(',')">{{ comida.trim() }}</li>
    </ul>
  </section>
</div>
