<app-header></app-header>

<div class="region-detalle container">
  <h1 class="fw-bold">{{ region()?.nombre }}</h1>

  <img *ngIf="region()?.imagen" [src]="region()?.imagen" alt="Imagen de la región" class="region-imagen img-fluid rounded my-3" />

  <p class="descripcion">{{ region()?.descripcion }}</p>

  <!-- Acerca de -->
  <div *ngIf="region()?.acerca_de">
    <h2 class="section-title mt-4">Acerca de esta Región</h2>
    <p>{{ region()?.acerca_de }}</p>
  </div>

  <p class="section-title">Galería de Fotos</p>
  <div class="galeria">
    <img *ngFor="let foto of region()?.galeria" [src]="foto.imagen" alt="foto región" />
  </div>


  <!-- Lugares Turísticos -->
  <section *ngIf="region()?.lugares_turisticos">
    <h2 class="section-title mt-4">Lugares Turísticos</h2>
    <p>{{ region()?.lugares_turisticos }}</p>
  </section>

  <!-- Tradiciones -->
  <section *ngIf="region()?.tradiciones">
    <h2 class="section-title mt-4">Tradiciones</h2>
    <p>{{ region()?.tradiciones }}</p>
  </section>

  <!-- Comidas Típicas -->
  <section *ngIf="region()?.comidas_tipicas">
    <h2 class="section-title mt-4">Comidas Típicas</h2>
    <p>{{ region()?.comidas_tipicas }}</p>
  </section>
</div>
